# Ignore directory
detection/data
detection/cocoapi
detection/ssd_*
detection/ssdlite_*
detection/tf_recode
detection/train_*
detection/models
detection/fine_tune_checkpoint
segmantation/data
segmantation/download
segmantation/models
segmantation/eval_deeplabv3_mnv2
segmantation/fine_tune_checkpoint
segmantation/train_*
segmantation/viz_*
segmantation/eval_*
segmantation/tpu_voc
segmantation/v2_voc

*.zip
.ipynb_checkpoints
*.pdf
*.mp4
*.tar.gz